*{padding: 8px;}
.jumbotron{
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding: 0;
	width: 100%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}
#tcl{visibility: hidden;}
#tcf{visibility: hidden;}
#tcd{visibility: hidden;}